<div>
  <div>
  <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
  </div>
  <%# <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  <%# </p>
  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  <%# </p> %>


  <ul class="li.title">
    <li><strong>First name:</strong></li>
    <%= user.first_name %>
    <li><strong>Last name:</strong></li>
    <%= user.last_name %>
  </ul>



</div>
