<div>
  <div>
  <% if current_user.photo.key == nil %>
    <%= image_tag "https://res.cloudinary.com/ddxqnyga2/image/upload/v1661437338/001-user_vutg9d.png", class: "avatar-bordered" %>
  <% else %>
    <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
  <% end %>
  </div>
  <%# <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  <%# </p>
  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  <%# </p> %>


  <ul class="li.title">
    <li><strong>First name:</strong></li>
    <%= user.first_name %>
    <li><strong>Last name:</strong></li>
    <%= user.last_name %>
  </ul>



</div>
