  <%# banner structure %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661337017/Mood_image-H_eecld9.jpg);">

    <div class="container">
      <h1>for anyone who wants to <strong> furnish </strong></h1>
      <p>with movables you find amazing people who will help you make your environments awesome.</p>
      <%# <a class="btn btn-flat" href="#">Apply now</a> %>
    </div>

  </div>



<%# CATEGORYS: Armchairs Sofas Chairs Tables Lights Rugs Beds Decorations Plants %>
  <%# cards grid structure %>
<div class="cards container">

  <a href="<%= movables_path(categories: "Armchairs") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335387/Armchairs_cbucuk.jpg)">
    Armchairs
  </a>

  <a href="<%= movables_path(categories: "Sofas") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335387/Sofas_rbgfvo.jpg)">
    Sofas
  </a>

    <a href="<%= movables_path(categories: "Chairs") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335388/Chairs_xqhs9t.jpg)">
    Chairs
  </a>

  <a href="<%= movables_path(categories: "Tables") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335388/Tables_fcbtyh.jpg)">
    Tables
  </a>

    <a href="<%= movables_path(categories: "Lights") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335388/Lights_inkwqb.jpg)">
    Lights
  </a>

    <a href="<%= movables_path(categories: "Rugs") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335388/Rugs_kqcnzj.jpg)">
    Tables
  </a>

    <a href="<%= movables_path(categories: "Beds") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335387/Beds_gsy2pn.jpg)">
    Beds
  </a>

    <a href="<%= movables_path(categories: "Decorations") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335388/Decorations_xafdc9.jpg)">
    Decorations
  </a>

    <a href="<%= movables_path(categories: "Plants") %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ddxqnyga2/image/upload/v1661335388/Plants_iwdssu.jpg)">
    Plants
  </a>
</div>
