<div id="<%= dom_id movable %>">
  <p>
    <strong>Name:</strong>
    <%= movable.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movable.description %>
  </p>

  <p>
    <strong>Min rent time:</strong>
    <%= movable.min_rent_time %>
  </p>

  <p>
    <strong>Max rent time:</strong>
    <%= movable.max_rent_time %>
  </p>

  <p>
    <strong>Main image:</strong>
    <%= movable.main_image %>
  </p>

  <p>
    <strong>Gallery image:</strong>
    <%= movable.gallery_image %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= movable.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= movable.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= movable.user_id %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= movable.categories %>
  </p>

</div>
