<p style="color: green"><%= notice %></p>

<%= render @movable %>

<div>
  <%= link_to "Edit this movable", edit_movable_path(@movable) %> |
  <%= link_to "Back to movables", movables_path %>

  <%= button_to "Destroy this movable", @movable, method: :delete %>
</div>
