<p style="color: green"><%= notice %></p>

<%# <%= render @movable %>


<div class="container">
  <h1><%= @movable.name %></h1>
  <div class="images">
    <%= cl_image_tag @movable.main_image.key, crop: :fill %>
    <div class="gallery-wall">
    <% @movable.gallery_image.each do |gallery_image| %>
      <%= cl_image_tag gallery_image.key, crop: :fill %>
    <% end %>
    </div>
  </div>

  <div class="description container">
    <div class="movable-description">
    <p><%= @movable.description %></p></div>

    <div class="booking-part">
    <p class="movable-price"><%= @movable.price %> CHF / day</p>
  <%= simple_form_for([@movable, @booking]) do |f| %>
    <%= f.input :checkin_on, as: :date, html5: true %>
    <%= f.input :checkout_on, as: :date, html5: true %>
    <%= f.submit %>
  <% end %>
     <p class="items-calc"><i class="fa-solid fa-minus" style="margin-right: 15px;"></i> Items <i class="fa-solid fa-plus" style="margin-left: 15px;"></i></p>
    </div>

    </div>


    <div>
      <% if policy(@movable).edit? %>
      <%=link_to "Edit this movable", edit_movable_path(@movable) %> |
      <% end %>
      <%= link_to "Back to movables", movables_path %>

      <%= button_to "Destroy this movable", @movable, method: :delete if policy(@movable).destroy? %>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= Array(@markers).to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>
